<h1> Item Detail</h1>
<table>
  <tbody>
    <tr>
      <td>Item name:</td>
      <td><%= @item.name %></td>
    </tr>
    <tr>
      <td>Item price:</td>
      <td><%= @item.price %></td>
    </tr>
  </tbody>
</table>
<a href="/items">Back</a>